//Variables
$primaryBtn:rgba(12, 124, 236, 0.906);
$textcolor: rgba(12, 124, 236, 0.906);
$backgroundColor: radial-gradient(circle, rgba(0,24,36,1) 0%, rgba(9,9,121,1) 25%, rgba(0,212,255,1) 98%);
$backgroundColor2:ghostwhite;
$buttonTextColor: ghostwhite;
$boxShadow: 10px 20px 25px;

//mixin
@mixin flexCenter{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}
@mixin marginFive(){
  margin: 5px;
}

@mixin marginTen(){
  margin: 10px;
}

@mixin paddingTen(){
  padding: 10px;
}

.header {
  & * {
    @include flexCenter();
    @include marginTen();
  }

}

html {
  height: auto;
  width: 100%;
  background:$backgroundColor;
}

.app {
  background: lightblue;
  margin:0;
  color: $textcolor;
}
.main-wrapper {
& * {
  @include flexCenter();
  flex-direction: column;
  text-align: left;
  }
}

.avatar {
  @include flexCenter();
  object-fit: cover;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  text-align: center;
  margin:auto;
  position: relative;

}
.button{
  & a{
    @include marginFive();
  background-color: $primaryBtn;
  border: none;
  color: white;
  padding: 0;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  border-radius: 15px;
  height: 50px;
  width: 200px;
  box-shadow: $boxShadow;
  }
}

p {
  text-align: center;
}

h1 {
  @include flexCenter();
  @include paddingTen();
}

body {
  background: $backgroundColor2;
  margin-left:10%;
  margin-right:10%;
  margin-top: 2.5%;
  border-radius: 1%;
  box-shadow: $boxShadow;
}

.About{
  @include marginTen();
}